<% provide(:title, "Home") %>
<div class="center jumbotron">
<% if !logged_in? %>
<h1>TextPhone</h1>

  <p>
    TextPhone allows you to send a Text to your cellphone.
  </p>


  <%= link_to "Sign up now!", '/users/new', class: "btn btn-lg btn-primary" %>
  </div>
<% else %>
<p>Send a Text to Your Phone</p>

  <%= form_for(@sm) do |f| %>
  <%= render 'static_pages/sms_errors' %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write a Text Message 160 Characters or less" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<% end %>
