<h2>Your user info</h2>
 <% if flash[:notice] %>
    <div class="valid">
    <%= flash[:notice] %></div>
  <% end %>

<%= debug @user%>
<p>
  <strong>Username:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Phone Type:</strong>
  <%= @user.phone_type %>
</p>

